/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: 12px;
	font-size: 1.2rem;
	text-transform: uppercase;
	margin-bottom: 0;
	color: $color-dove-gray;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-footer .entry-meta {
	border-top: 1px solid #f5f5f5;
	padding-top: 24px;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}