/* ## Entries
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
	padding: 50px 60px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.entry {
	background-color: #fff;
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 20px;

	a {
		text-decoration: underline;
	}

	li {
		list-style-type: disc;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}

	code {
		background-color: #333;
		color: #ddd;
	}
}