/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #424242;
	clear: both;
	color: #fff;
	padding: 60px 0;

	.wrap {
		display: flex;
		justify-content: space-between;
	}
	
	.widget-area {
		flex: 1 100%;
		padding: 0 40px 0 0;
	}

	.widget-title {
		color: #fff;
		text-transform: uppercase;
	}

	a:hover,
	a:focus {
		color: #fff;
		text-decoration: underline;
	}

	li {
		border-bottom: 1px dashed $color-mine-shaft;
	}

}
