/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #fff;
	min-height: 100px;
	border-bottom: 1px solid #f5f5f5;

	.wrap {
		padding: 20px 0;
	}
}
