/* ## Widget Area
--------------------------------------------- */

.site-header {

	.widget-area {
	float: right;
	text-align: right;
	width: 800px;
	}

	.widget:last-of-type {
		margin-bottom: 0;
	}

	.widget ul > li:last-of-type {
		margin-bottom: 0;
	}
	
}
